body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: #050304;
}

.container {
    display: flex;
    flex-direction: column;
}

#clock,
#date {
    width: 100%;
    color: #21ffb5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

#date {
    font-size: 70px;
}